<div class="row">
 <div class="col-md-6 col-md-offset-1">
<%= form_for(@service_request) do |f| %>
  <% if @service_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service_request.errors.count, "error") %> prohibited this service_request from being saved:</h2>

      <ul>
      <% @service_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
    <%= f.label :address %><br>
    <%= f.text_area :address, class: 'form-control' %>
  
 <%= f.label :Order_Status %><br>
    <%= f.select :status, ['Confirm', 'Cancel'], class: 'form-control' %></br>
  
  

  <!--
  <div class="field">
    <%= f.label :service_provider_id %><br>
    <%= f.number_field :service_provider_id %>
  </div> -->
<!--
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div> -->
 
    <%= f.label :request_time %><br>
    <%= f.datetime_select :request_time, class: 'form-control' %>
 
   <!-- <div class="field">

  <%= f.label :promised_time %><br>
    <%= f.datetime_select :promised_time %>
  </div> -->
 
    <%= f.label :Food_Type %><br>
    <%= f.text_field :references, class: 'form-control' %>
  
    <%= f.submit "Order Now", class: "btn btn-primary" %>
  
<% end %>
</div>
</div>