
<p id="notice"><%= notice %></p>

<h3>Your Previous Bookings</h3>
<div class="table-responsive">

<table class="table table-hover">
  <thead>
    <tr>
      <th>Sl No:</th>
      <th>Date</th>
      <th>Address</th>
      <th>Status</th>
      <th>Food</th>
      
      
      <th>Requested time</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
   <%-# commented : checking if @posts is empty -%>
<% if @service_requests.nil? %> 
  <span>Sorry, no request made !! </span>
<% else %>
 <%count= @service_requests.count%>
 <%sl=1%>
 
    <% @service_requests.each do |service_request| %>
      <tr>
        <td><%= sl if sl<=count %></td>
        <td><%= service_request.created_at.strftime("%b %d. %Y") %></td>
        <td><%= service_request.address %></td>
        <td><%= service_request.status %></td>
        <td><%= service_request.references %></td>
        
       
        <td><%= service_request.request_time %></td>
       
        <td><%= link_to 'Show', service_request %></td>
        <td><%= link_to 'Update', edit_service_request_path(service_request) %></td>
       
      </tr>
      <% sl+=1%>
    <% end %>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Service request', new_service_request_path %>
