<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @service_request.address %>
</p>

<p>
  <strong>Status:</strong>
  <%= @service_request.status %>
</p>

<p>
  <strong>Food Type:</strong>
  <%= @service_request.references %>
</p>


<p>
  <strong>Request time:</strong>
  <%= @service_request.request_time %>
</p>



<%= link_to 'Edit', edit_service_request_path(@service_request) %> |
<%= link_to 'Back', service_requests_path %>
