
			<div id="header-wrapper"> 
				<div id="header"> 
					<div id="logo"> 
						<h1><a href="#">Go Eazy</a></h1> 
						<p>Book your cook</p> 
					</div> 
					<div id="menu"> 
						<ul> <li><%= link_to "Home", root_path %></li>
						  
						 <% if user_signed_in? %>
                         <li><%= link_to "All Requests", service_requests_path %></li>
                         <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
                         <% else %>
                         <li><%= link_to "Log in", new_user_session_path %></li>
                         <li><%= link_to "Sign Up", new_user_registration_path %></li>
                         <% end %> 
                         <li><a href="about.html">About</a></li> 
						 <li><a href="contact.html">Contact</a></li>
						</ul> 
					</div> 
				</div> 
			</div> 
			<!-- end #header --> 