<!DOCTYPE html>
<html>
<head>
  <title>Goweb</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Abel" type="text/css" /> 
  <%= csrf_meta_tags %>
</head>
<body>



<!--<div id="wrapper"> 
	
			<div id="page"> 
				<div id="page-bgtop"> 
					<div id="page-bgbtm"> -->
						<%= render 'layouts/partials/header'%>
					</br></br></br>
						<div id="content"> 
                            <div class="flash-message"> 
                            <% flash.each do |key, value| %>
                              <div class="alert alert-<%= key %>"><%= value %></div>
                            <% end %>
                            </div>
                            
							<%= yield %> <!-- main view--> 
							
							 

						</div> <!-- end #content --> 
						
						 <%= render 'layouts/partials/sidebar'%>	
						
				 
				
		
 
</body>
</html>
